/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root {
  --primary-color: #1d4ed8;
  --off-white: #f3f4f6;
  --dark-gray: #6b7280;
  --black-color: #1f2937;
}

body {
  /* font-family: "Raleway", sans-serif; */
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

hr {
  margin: 2rem 0;
}

/* container */
.container {
  padding: 0 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.flex-container {
  display: flex;
  max-width: 1100px;
  margin: auto;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  height: 50vh;
  margin: auto;
}

.projects-container .hero-img {
  max-height: 350px;
}

/* Links */
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}

/* lists */

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0 0.5rem;
}

/* navigation */

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.nav-container {
  margin: auto;
  max-width: 1100px;
  /* overflow: auto;
  padding: 0 20px; */
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link {
  color: white;
}

.navigation .link-active {
  font-weight: bold;
}

/* header */

.hero {
  padding: 5rem 2rem 2rem 2rem;
  height: 70vh;
}

.hero .hero-img {
  max-width: 550px;
}

.hero .hero-heading {
  /* font-size: 2rem; */
  color: var(--dark-gray);
  text-align: center;
  padding-top: 5rem;
}

.hero .hero-heading .heading-inverted {
  color: var(--primary-color);
}

.hero .hero-heading .heading-greet {
  color: var(--black-color);
  font-size: 4rem;
}
.hero .hero-heading .heading-name {
  color: var(--dark-gray);
  /* font-size: 4rem; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

/* sections */
.hero-secondary {
  padding: 1.5rem 2rem 2rem 2rem;
  height: 70vh;
}

/* .hero-secondary h1,
h2,
ul {
  text-align: center;
} */

.hero-secondary .hero-img {
  max-width: 450px;
  padding-right: 5rem;
}

.hero-secondary .about-content {
  padding-top: 0;
}

.hero-secondary .heading-greet {
  color: var(--black-color);
  font-size: 2rem;
}

.hero-secondary .about-extra {
  color: var(--black-color);
}

.about-content p {
  font-size: 1.2rem;
}

.about-content li {
  font-size: 1.1rem;
}

.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
}

.flex-items > div {
  padding: 5px;
}

.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  /* background-color: var(--primary-color); */
  /* color: goldenrod; */
  padding: 2rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.icons .fa-html5 {
  color: #e34c26;
}

.icons .fa-css3-alt {
  color: #264de4;
}
.icons .fa-js-square {
  color: #f0db4f;
}
.icons .fa-node {
  color: #68a063;
}
.icons .fa-react {
  color: #61dbfb;
}
.icons .fa-git-square {
  color: #f1502f;
}
.icons .fa-github {
  color: #333;
}
.icons .fa-database {
  color: darkgray;
}

.skills-title {
  text-align: center;
  font-size: 2rem;
  color: var(--black-color);
}

.section {
  padding: 2rem;
}

.section h1 {
  text-align: center;
}

.ow {
  background-color: var(--off-white);
}

/* .section .section-projects {
  height: 20vh;
} */

.section-projects h1 {
  font-size: 2rem;
  color: var(--black-color);
}

/* .section-projects h2,
p {
  text-align: center;
} */

.section-blogs h1 {
  font-size: 2rem;
  color: var(--black-color);
}

/* .section .section-projects p {
  margin-bottom: 2rem;
} */

.btn {
  display: inline-block;
  margin: 0.5rem auto;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  margin-right: 2rem;
}

.btn-container {
  width: 100%;
  text-align: center;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.btn-secondary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

/* Blog Reading Page */
.blog-content {
  padding: 2.5rem;
  line-height: 1.6rem;
}

.blog-content a {
  text-decoration: none;
}

.blog-heading {
  text-align: center;
  font-size: 4rem;
  color: var(--black-color);
}
.blog-cover-img {
  display: block;
  max-width: 750px;
  margin: auto;
}

.blog-content-img {
  display: block;
  max-width: 800px;
  margin: auto;
  /* overflow: hidden; */
}

.blog-container {
  max-width: 900px;
  margin: auto;
}

/* footer */

.footer {
  background-color: var(--primary-color);
  padding: 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer .link {
  color: white;
}

.footer .footer-header {
  margin-top: 0.8rem;
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

.social {
  max-width: 600px;
  margin: auto;
  /* display: flex;
  justify-content: space-around; */
}

.social i {
  padding: 1rem 2rem;
  color: white;
}
